
    
body{
    margin: 0px;
}
a:visited{
    color: ghostwhite;
}
a{
    text-decoration: none;
}
.navbar{
    background-color:#333333;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 15vh;
    /* border: 0.5vw solid red; */
    border-radius: 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;

}
.item{
    font:normal small-caps 1.2em Sans-serif;
    background-color: #04AA63;
    color:white;
    /* border: 3px solid fuchsia; */
    height: auto;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    transition:0.5s;
}

.item:hover{
    background-color:rgb(22, 22, 22);
    
}
.logo{
    position: relative;
    display: flex;
    height:20vh;
    background-attachment: fixed;
    background-color: #EEA47FFF;
    margin-left:0px;
    justify-content: space-between;
}
#signup{
    text-align: center;
    padding-top: 0.7em;
    
    box-sizing: border-box;
    width: 10em;
    margin-top: 1em;
    height: 3em;
    font-size: 1.5em;
    font-family: sans-serif;
    background-color: #01B2D2FF;
    border-radius: 10px;
    transition: 0.5s;


}
#signup:hover{
    background-color:rgb(22, 22, 22) ;
}