a{
    text-decoration: none;
}
.navbar{
    background-color:#333333;
    width: 98vw;
    padding: 0;
    margin: 0;
    height: 15vh;
    /* border: 0.5vw solid red; */
    border-radius: 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;

}
.item{
    font:normal small-caps 1.2em Sans-serif;
    background-color: #04AA63;
    color:white;
    /* border: 3px solid fuchsia; */
    height: auto;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    transition:0.5s;
}

.item:hover{
    background-color:rgb(22, 22, 22);
    
}
.logo{
    display: flex;
    margin-left:0px;
}